<!DOCTYPE html>
<html lang="vi">

<head>
	<title> Score+ </title>
	<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
	<meta name="keyword" content="bong da, ket qua, lich thi dau" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="normalize.css" />
	<link rel="stylesheet" href="score.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />

</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Các
							giải đấu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="anh.html">Premier League</a></li>
							<li><a href="#">La Liga</a></li>
							<li><a href="#">Series A</a></li>
							<li><a href="#">Ligue I</a></li>
							<li><a href="#">BundesLiga</a></li>
						</ul>
					</li>
					<li><a href="#">Tin tức</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dropdown
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Bên lề</a></li>
							<li><a href="#">Highlights</a></li>
							<li><a href="#"></a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="LogoCLB\Premier League\mancity.png" style="display: block; margin-left: auto; margin-right: auto;" width="100px" height="auto">
      </div>
      <div class="col-md-4">
        <h2 style="text-align: center">Manchester City FC</h2>
        <p style="text-align: center">Sân vận động :<strong> Etihad Stadium </strong></p>
        <p style="text-align: center">Huấn luyện viên trưởng :<strong> Pep Guardiola </strong></p>
      </div>
      <div class="col-md-4">
        <img src="AoDau/manc.png" style="display: block; margin-left: auto; margin-right: auto;" width="100px" height="auto">
      </div>
    </div>
    <!--/. header -->


    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab">Các cầu thủ</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab">Kết quả và lịch thi đấu</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

					<div class="panel panel-default">
						<div class="panel-heading" style="background: #996633; color: white;">
							<p align="center"><strong>Thủ môn</strong></p>
						</div>
						<table class="table">
							<tbody>
								<tr>
										<th style="width: 25%">
												<p align="center">Số áo</p>
										</th>
										<th style="width: 50%">
												<p align="center">Tên</p>
										</th>
										<th style="width: 25%">
												<p align="center">Quốc tịch</p>
										</th>
								</tr>
									<%results[0].forEach(function(rows){%>
									<tr>
										<td><p align="center"><%=rows.soao%></p></td>
										<td><p align="center"><%=rows.ten%></p></td>
										<td><p align="center"><%=rows.quoctich%></p></td>
									</tr>
									<%})%>
							</tbody>
						</table>
					</div>
					<!-- Thủ môn -->
					<div class="panel panel-default">
						<div class="panel-heading" style="background: #3333ff; color: white;">
							<p align="center"><strong>Hậu vệ</strong></p>
						</div>
						<table class="table">
							<tbody>
								<tr>
										<th style="width: 25%">
												<p align="center">Số áo</p>
										</th>
										<th style="width: 50%">
												<p align="center">Tên</p>
										</th>
										<th style="width: 25%">
												<p align="center">Quốc tịch</p>
										</th>
								</tr>
									<%results[1].forEach(function(rows){%>
									<tr>
										<td><p align="center"><%=rows.soao%></p></td>
										<td><p align="center"><%=rows.ten%></p></td>
										<td><p align="center"><%=rows.quoctich%></p></td>
									</tr>
									<%})%>
							</tbody>
						</table>
					</div>
					<!-- Hậu vệ -->
					<div class="panel panel-default">
						<div class="panel-heading" style="background: #00cc00; color: white;">
							<p align="center"><strong>Tiền vệ</strong></p>
						</div>
						<table class="table">
							<tbody>
								<tr>
										<th style="width: 25%">
												<p align="center">Số áo</p>
										</th>
										<th style="width: 50%">
												<p align="center">Tên</p>
										</th>
										<th style="width: 25%">
												<p align="center">Quốc tịch</p>
										</th>
								</tr>
									<%results[2].forEach(function(rows){%>
									<tr>
										<td><p align="center"><%=rows.soao%></p></td>
										<td><p align="center"><%=rows.ten%></p></td>
										<td><p align="center"><%=rows.quoctich%></p></td>
									</tr>
									<%})%>
							</tbody>
						</table>
					</div>
					<!-- Tiền vệ -->
					<div class="panel panel-default">
						<div class="panel-heading" style="background: #cc0000; color: white;">
							<p align="center"><strong>Tiền đạo</strong></p>
						</div>
						<table class="table">
							<tbody>
									<tr>
											<th style="width: 25%">
													<p align="center">Số áo</p>
											</th>
											<th style="width: 50%">
													<p align="center">Tên</p>
											</th>
											<th style="width: 25%">
													<p align="center">Quốc tịch</p>
											</th>
									</tr>
								<%results[3].forEach(function(rows){%>
								<tr>
									<td><p align="center"><%=rows.soao%></p></td>
									<td><p align="center"><%=rows.ten%></p></td>
									<td><p align="center"><%=rows.quoctich%></p></td>
								</tr>
								<%})%>
							</tbody>
						</table>
					</div>
					<!-- Tiền đạo -->

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <table class="table table-striped">
            <tr>
              <th style="width: 25%"><p align="center">Vòng</p></th>
              <th style="width: 50%"><p align="center">Kết quả</p></th>
              <th style="width: 25%"><p align="center">Trạng thái</p></th>
            </tr>
						<%results[4].forEach(function(rows){%>
						<tr>
							<td><p align="center"><%=rows.vong%></p></td>
							<td>
								<p align="center">
									<div class="row">
									  <div class="col-md-4" align="center"><img src="<%=rows.logo_doibong%>" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></div>
									  <div class="col-md-4" align="center">&nbsp&nbsp<%=rows.banthang%>&nbsp-&nbsp<%=rows.banbai%>&nbsp&nbsp</div>
									  <div class="col-md-4" align="center"><img src="<%=rows.logo_doithu%>" width="auto" height="20px">&nbsp&nbsp<%=rows.doithu%></div>
									</div>
								</p>
							</td>
							<td><p align="center">FT</p></td>
						</tr>
						<%})%>
          </table>
        </div>
      </div>
  </div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
