<!DOCTYPE html>
<html lang="vi">
	<head>
		<title> Premier League </title>
		<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
		<meta name="keyword" content="bong da, ket qua, lich thi dau" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="score.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<style>
		  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		    color: black;
		    cursor: default;
			font-weight: bold;
			background-color: transparent;
			border-bottom: 3px solid #ff0066;

		}

			.bg-img {
			  /* The image used */
			  background-image: url("LogoGiaiDau//premier-bar.jpg");

			  /* Center and scale the image nicely */
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;
			  /* Needed to position the navbar */
			  position: relative;
			}

		</style>
	</head>

	<body>

	<!---Thanh công cụ trên cùng--->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Các
							giải đấu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="anh.html">Premier League</a></li>
							<li><a href="taybannha.html">La Liga</a></li>
							<li><a href="italia.html">Series A</a></li>
							<li><a href="phap.html">Ligue I</a></li>
							<li><a href="duc.html">BundesLiga</a></li>
						</ul>
					</li>
					<li><a href="tintuc.html">Tin tức</a></li>
					<li><a href="video.html">Video</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<!--/Logo League
		<img src="LogoGiaiDau//premier-header.png" width="auto" height="auto" alt="ngoai hang anh" class="center img-responsive" >&nbsp&nbsp -->





    	<div class="row">
    	<div class="col-md-2">
            <img src="LogoGiaiDau\header1.png" width="150px" height="auto">
       </div>
        <div class='col-md-10'>

            <div class="col-md-12">
                <a href="arsenal.html"><img src="LogoCLB\Premier League\arsenal.png" width="42px" height="auto"></a>
                <a href="bournemouth.html"><img src="LogoCLB\Premier League\bournemouth.png" width="42px" height="auto"></a>
                <a href="brighton.html"><img src="LogoCLB\Premier League\brighton.png" width="42px" height="auto"></a>
                <a href="burnley.html"><img src="LogoCLB\Premier League\burnley.png" width="42px" height="auto"></a>
                <a href="cardiff.html"><img src="LogoCLB\Premier League\cardiff.png" width="42px" height="auto"></a>
                <a href="chelsea.html"><img src="LogoCLB\Premier League\chelsea.png" width="42px" height="auto"></a>
                <a href="palace.html"><img src="LogoCLB\Premier League\crystal-palace.png" width="42px" height="auto"></a>
                <a href="everton.html"><img src="LogoCLB\Premier League\everton.png" width="42px" height="auto"></a>
                <a href="fulham.html"><img src="LogoCLB\Premier League\fulham.png" width="42px" height="auto"></a>
                <a href="huddersfield.html"><img src="LogoCLB\Premier League\huddersfield.png" width="42px" height="auto"></a>
                <a href="wolves.html"><img src="LogoCLB\Premier League\wolves.png" width="42px" height="auto"></a>
                <a href="leicester.html"><img src="LogoCLB\Premier League\leicester.png" width="42px" height="auto"></a>
                <a href="liverpool.html"><img src="LogoCLB\Premier League\liverpool.png" width="42px" height="auto"></a>
                <a href="mancity.html"><img src="LogoCLB\Premier League\mancity.png" width="42px" height="auto"></a>
                <a href="manutd.html"><img src="LogoCLB\Premier League\manutd.png" width="42px" height="auto"></a>
                <a href="newcastle.html"><img src="LogoCLB\Premier League\newcastle.png" width="42px" height="auto"></a>
                <a href="southampton.html"><img src="LogoCLB\Premier League\southampton.png" width="42px" height="auto"></a>
                <a href="tottenham.html"><img src="LogoCLB\Premier League\tottenham.png" width="42px" height="auto"></a>
              	<a href="watford.html"><img src="LogoCLB\Premier League\watford.png" width="42px" height="auto"></a>
                <a href="westham.html"><img src="LogoCLB\Premier League\westham.png" width="42px" height="auto"></a>
            </div>
            &nbsp
            <div class="col-md-12" style="background-color: #39004d; color: white;">
               <h1 style="text-align: center;">Giải bóng đá Ngoại hạng Anh</h1>
        </div>




	<!--Thanh nav-pill của giải đấu -->

      <!-- Nav-pills -->

      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab" class="purple"><h4>Bảng xếp hạng</h4></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="p tab"
            data-toggle="tab" class="purple"><h4>Lịch thi đấu - Kết quả</h4></a></li>
      </ul>
  </div>




      <!-- Nội dung tab 1-->
    <div class="tab-content">
	       <div role="tabpanel" class="tab-pane active" id="home">
	        	<div class="container" style="width: 90%">
					<table class="table">&nbsp
					<tr class="bg-img white">
					  <th class="col-xs-1" ><p>Vị trí</p></th>
					  <th class="col-xs-2" ><p>Câu lạc bộ</p></th>
					  <th class="col-xs-1" ><p align="center">Trận</p></th>
					  <th class="col-xs-1" ><p align="center">Thắng</p></th>
					  <th class="col-xs-1" ><p align="center">Hòa</p></th>
					  <th class="col-xs-1" ><p align="center">Thua</p></th>
					  <th class="col-xs-1" ><p align="center">+/-</p></th>
					  <th class="col-xs-1" ><p align="center">Điểm</p></th>
					</tr>
					<%i=1%>
					<%results[3].forEach(function(rows){%>
					<tr style="background-color: white">
						<td><%=i++%></td>
						<td><img src="<%=rows.logo_doibong%>" alt="score+" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></td>
						<td align="center"><%=rows.st%></td>
						<td align="center"><%=rows.w%></td>
						<td align="center"><%=rows.d%></td>
						<td align="center"><%=rows.l%></td>
						<td align="center"><%=rows.hieuso%></td>
						<td align="center"><%=rows.diem%></td>
					</tr>
					<%})%>
					</table>
				</div>
			</div>

		<!---Nội dung tab 2--->
        <div role="tabpanel" class="tab-pane tab-pane fade" id="profile">&nbsp
          	 <ul class="nav nav-pills nav-justified" role="tablist">
		        <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 1</a></li>
		        <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 2</a></li>
		        <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 3</a></li>

		      </ul>


		      <div class="tab-content">
        		<div role="tabpanel" class="tab-pane active" id="r1">
						<table class="table" style="background-color: white">
								<tr>
								  <th class="col-xs-5"><p align="center">HOME</p></th>
								  <th class="col-xs-1"><p align="center"></p></th>
								  <th class="col-xs-5"><p align="center">AWAY</p></th>
								</tr>
								<tr>
									<%results[0].forEach(function(rows){%>
											<tr>
												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
												<td><p align="center" style="background-color: #39004d" class="white"><%=rows.result%></p></td>
												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
											</tr>
										<%})%>
								</tr>
						</table>
				</div>
        		<div role="tabpanel" class="tab-pane tab-pane fade" id="r2">
						<table class="table" style="background-color: white">
								<tr>
								  <th class="col-xs-5"><p align="center">HOME</p></th>
								  <th class="col-xs-1"><p align="center"></p></th>
								  <th class="col-xs-5"><p align="center">AWAY</p></th>
								</tr>
								<tr>
									<%results[2].forEach(function(rows){%>
											<tr>
												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
												<td><p align="center" style="background-color: #39004d" class="white"><%=rows.result%></p></td>
												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
											</tr>
										<%})%>
								</tr>
						</table>
				</div>
				<div role="tabpanel" class="tab-pane tab-pane fade" id="r3">
					<table class="table" style="background-color: white">
							<tr>
							  <th class="col-xs-5"><p align="center">HOME</p></th>
							  <th class="col-xs-1"><p align="center"></p></th>
							  <th class="col-xs-5"><p align="center">AWAY</p></th>
							</tr>
							<tr>
								<%results[1].forEach(function(rows){%>
										<tr>
											<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
											<td><p align="center" style="background-color: #39004d" class="white"><%=rows.result%></p></td>
											<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
										</tr>
									<%})%>
							</tr>
						</table>
				</div>

			  </div>
		</div>




		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

	</body>
</html>
