<!DOCTYPE html>
<html lang="vi">
	<head>
		<title> Premier League </title>
		<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
		<meta name="keyword" content="bong da, ket qua, lich thi dau" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="score.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<style>
		  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		    cursor: default;
			font-weight: bold;
			background-color: transparent !important;
			border-bottom: 3px solid #ff0066;
			border-radius: 0px;
			color: #39004d;

			}
			.nav a:hover {
			  background-color: transparent !important;
			  border-bottom: 3px solid #52527a;
			  border-radius: 0px;
			}
			.bg-img {
			  /* The image used */
			  background-image: url("LogoGiaiDau//premier-bar.jpg");

			  /* Center and scale the image nicely */
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;
			  /* Needed to position the navbar */
			  position: relative;
			}
		</style>
	</head>
	


	<body>

	<!---Thanh công cụ trên cùng--->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Các
							giải đấu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="anh.html">Premier League</a></li>
							<li><a href="taybannha.html">La Liga</a></li>
							<li><a href="italia.html">Series A</a></li>
							<li><a href="phap.html">Ligue I</a></li>
							<li><a href="duc.html">BundesLiga</a></li>
						</ul>
					</li>
					<li><a href="tintuc.html">Tin tức</a></li>
					<li><a href="video.html">Video</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

    	


    <div class="row">
    	
		<!---Cột bên trái--->
    	<div class="col-md-2 col-xs-5">
            <a href="anh.html"><img src="LogoGiaiDau\header1.png" width ="200px" height="auto"></a>
       	</div>
        
        
		<!---Cột bên phải với 2 hàng: dãy logo + thanh công cụ--->
        <div class="col-md-10">
            <div class="row">
            	<div class="col-md-12 col-xs-7">
                <a href="arsenal.html"><img class="zoom" src="LogoCLB\Premier League\arsenal.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="bournemouth.html"><img class="zoom" src="LogoCLB\Premier League\bournemouth.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="brighton.html"><img class="zoom" src="LogoCLB\Premier League\brighton.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="burnley.html"><img class="zoom" src="LogoCLB\Premier League\burnley.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="cardiff.html"><img class="zoom" src="LogoCLB\Premier League\cardiff.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="chelsea.html"><img class="zoom" src="LogoCLB\Premier League\chelsea.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="palace.html"><img class="zoom" src="LogoCLB\Premier League\crystal-palace.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="everton.html"><img class="zoom" src="LogoCLB\Premier League\everton.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="fulham.html"><img class="zoom" src="LogoCLB\Premier League\fulham.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="huddersfield.html"><img src="LogoCLB\Premier League\huddersfield.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="wolves.html"><img class="zoom" src="LogoCLB\Premier League\wolves.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="leicester.html"><img class="zoom" src="LogoCLB\Premier League\leicester.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="liverpool.html"><img class="zoom" src="LogoCLB\Premier League\liverpool.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="mancity.html"><img class="zoom" src="LogoCLB\Premier League\mancity.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="manutd.html"><img class="zoom" src="LogoCLB\Premier League\manutd.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="newcastle.html"><img class="zoom" src="LogoCLB\Premier League\newcastle.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="southampton.html"><img class="zoom" src="LogoCLB\Premier League\southampton.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="tottenham.html"><img class="zoom" src="LogoCLB\Premier League\tottenham.png" width="38px" height="auto"></a>&nbsp;&nbsp;
              	<a href="watford.html"><img class="zoom" src="LogoCLB\Premier League\watford.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="westham.html"><img class="zoom" src="LogoCLB\Premier League\westham.png" width="38px" height="auto"></a>&nbsp;&nbsp;
            </div>
        </div>
	        &nbsp;
         	<div class="row">
		      <div style="background-color: #39004d;">   
		      	<ul class="nav nav-pills nav-justified" role="tablist">
			        <li role="presentation" class="active"><a href="#home1" aria-controls="home1" role="tab"
			            data-toggle="tab"><h5 class="white">PREMIER LEAGUE</h5></a></li>
			        <li role="presentation"><a href="#profile5" aria-controls="profile5" role="tab"
			            data-toggle="tab"><h5 class="white">Thông tin</h5></a></li>
		      	</ul>
		      </div>
		  	</div>
    	</div>

	</div>




<!---Nội dung 2 tab PL-Thông tin--->

<div class="tab-content">

    
	
    <!-- Nội dung tab PL-->
	
	<div role="tabpanel" class="tab-pane active" id="home1">
      
    	<ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab" class="purple"><h5>Bảng xếp hạng</h5></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab" class="purple"><h5>Lịch thi đấu - Kết quả</h5></a></li>
        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab"
            data-toggle="tab" class="purple"><h5>Thống kê</h5></a></li>
    	</ul>


		<!-- Nội dung 3 tab Bảng xếp hạng - Lịch đấu - Thống kê-->
      	<div class="tab-content">
      		<!-- Nội dung Bảng xếp hạng-->
	       <div role="tabpanel" class="tab-pane active" id="home">
	        	&nbsp;&nbsp;
	        	<div class="container" style="width: 90%">
					<table class="table">
					<tr class="bg-img white">
					  <th class="col-xs-1" ><p>Vị trí</p></th>
					  <th class="col-xs-2" ><p>Câu lạc bộ</p></th>
					  <th class="col-xs-1" ><p align="center">Trận</p></th>
					  <th class="col-xs-1" ><p align="center">Thắng</p></th>
					  <th class="col-xs-1" ><p align="center">Hòa</p></th>
					  <th class="col-xs-1" ><p align="center">Thua</p></th>
					  <th class="col-xs-1" ><p align="center">+/-</p></th>
					  <th class="col-xs-1" ><p align="center">Điểm</p></th>
					</tr>
					<%i=1%>
					<%results[3].forEach(function(rows){%>
					<tr style="background-color: white">
						<td><%=i++%></td>
						<td><img src="<%=rows.logo_doibong%>" alt="score+" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></td>
						<td align="center"><%=rows.st%></td>
						<td align="center"><%=rows.w%></td>
						<td align="center"><%=rows.d%></td>
						<td align="center"><%=rows.l%></td>
						<td align="center"><%=rows.hieuso%></td>
						<td align="center"><%=rows.diem%></td>
					</tr>
					<%})%>
					</table>
				</div>
			</div>

				<!---Nội dung tab lịch thi đấu, kết quả--->
        	<div role="tabpanel" class="tab-pane tab-pane fade" id="profile">
          	 	
          	 	<ul class="nav nav-pills nav-justified" role="tablist">
			        <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
			            data-toggle="tab">Vòng 1</a></li>
			        <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
			            data-toggle="tab">Vòng 2</a></li>
			        <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
			            data-toggle="tab">Vòng 3</a></li>
			    </ul>



			    <div class="tab-content">
        		

        		<div role="tabpanel" class="tab-pane active" id="r1">
						<table class="table" style="background-color: white">
								<tr>
								  <th class="col-xs-5"><p align="center">HOME</p></th>
								  <th class="col-xs-1"><p align="center"></p></th>
								  <th class="col-xs-5"><p align="center">AWAY</p></th>
								</tr>
								<tr>
									<%results[0].forEach(function(rows){%>
											<tr>
												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
												<td><p align="center" style="background-color: #39004d" class="white"><%=rows.result%></p></td>
												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
											</tr>
										<%})%>
								</tr>
						</table>
				</div>
        		<div role="tabpanel" class="tab-pane tab-pane fade" id="r2">
						<table class="table" style="background-color: white">
								<tr>
								  <th class="col-xs-5"><p align="center">HOME</p></th>
								  <th class="col-xs-1"><p align="center"></p></th>
								  <th class="col-xs-5"><p align="center">AWAY</p></th>
								</tr>
								<tr>
									<%results[2].forEach(function(rows){%>
											<tr>
												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
												<td><p align="center" style="background-color: #39004d" class="white"><%=rows.result%></p></td>
												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
											</tr>
										<%})%>
								</tr>
						</table>
				</div>
				<div role="tabpanel" class="tab-pane tab-pane fade" id="r3">
					<table class="table" style="background-color: white">
							<tr>
							  <th class="col-xs-5"><p align="center">HOME</p></th>
							  <th class="col-xs-1"><p align="center"></p></th>
							  <th class="col-xs-5"><p align="center">AWAY</p></th>
							</tr>
							<tr>
								<%results[1].forEach(function(rows){%>
										<tr>
											<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
											<td><p align="center" style="background-color: #39004d" class="white"><%=rows.result%></p></td>
											<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
										</tr>
									<%})%>
							</tr>
					</table>
				</div>

			  	</div>
			</div>

		<!---Nội dung tab Thống kê--->
		<div role="tabpanel" class="tab-pane " id="profile2">
			&nbsp;
			<div class="container">

			<div class="row">
		      <div>   
		      	<ul class="nav nav-tabs nav-justified" role="tablist">
			        <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab"
			            data-toggle="tab"><img src="Icon\top-scorer.png" width="auto" height="30px"><h5>Top ghi bàn</h5></a></li>
			        <li role="presentation"><a href="#profile6" aria-controls="profile6" role="tab"
			            data-toggle="tab"><img src="Icon\top-assist.png" width="auto" height="30px"><h5>Top kiến tạo</h5></a></li>
			            <li role="presentation"><a href="#profile7" aria-controls="profile6" role="tab"
			            data-toggle="tab"><img src="Icon\yellow.png" width="auto" height="30px"><h5>Thẻ vàng</h5></a></li>
			            <li role="presentation"><a href="#profile8" aria-controls="profile6" role="tab"
			            data-toggle="tab"><img src="Icon\red.png" width="auto" height="30px"><h5>Thẻ đỏ</h5></a></li>
		      	</ul>
		      </div>
		  	</div>
			
			</div>

			
			<div class="tab-content">
				<!-- Tab bàn thắng -->
					<div role="tabpanel" class="tab-pane active" id="home2">
						<div class="container" style="width: 90%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-1">Vị trí</th>
					       <th class="col-md-3">Cầu thủ</th>
					        <th class="col-md-7">Câu lạc bộ</th>
					        <th class="col-md-1">Bàn thắng</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[4].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
					        <td><%=rows.ten%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.banthang%></td>
					      </tr>
								<%})%>
					    </tbody>
		  				</table>
		  				</div>
					</div>
					

					<!-- Tab kiến tạo -->
					<div role="tabpanel" class="tab-pane fade" id="profile6">
						<div class="container" style="width: 90%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-1">Vị trí</th>
					       <th class="col-md-3">Cầu thủ</th>
					        <th class="col-md-7">Câu lạc bộ</th>
					        <th class="col-md-1">Kiến tạo</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[5].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
					        <td><%=rows.ten%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.kientao%></td>
					      </tr>
								<%})%>
					    </tbody>
		  				</table>
		  				</div>
					</div>



					<!-- Tab thẻ vàng -->
					<div role="tabpanel" class="tab-pane fade" id="profile7">
						<div class="container" style="width: 80%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-4">Vị trí</th>
					      	<th class="col-md-6">Câu lạc bộ</th>
					        <th class="col-md-2" style="text-align: center;">Thẻ vàng</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[6].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.tv%></td>
					      </tr>
								<%})%>
		  				</table>
		  				</div>
					</div>
					
					
					<!-- Tab thẻ đỏ -->
					<div role="tabpanel" class="tab-pane fade" id="profile8">
						<div class="container" style="width: 80%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-4">Vị trí</th>
					       	<th class="col-md-6">Câu lạc bộ</th>
					        <th class="col-md-2" style="text-align: center;">Thẻ đỏ</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[7].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.td%></td>
					      </tr>
								<%})%>
					    </tbody>
		  				</table>
		  				</div>
					</div>
		
	</div>

	</div>
</div>
</div>
	<!---Nội dung tab Thông tin--->
	<div role="tabpanel" class="tab-pane" id="profile5">
		<img src="LogoGiaiDau\anh.png" width="auto" height="150px" class="center">

		<h3><b>SƠ LƯỢC</b></h3>

		<p class="lead">
			<b>Giải bóng đá Ngoại hạng Anh</b> (tiếng Anh: English Premier League) là giải đấu bóng đá dành cho các câu lạc bộ chuyên nghiệp nam của Anh. Đây là giải đấu cấp cao nhất trong hệ thống các giải bóng đá Anh, và là giải đấu chính trong hệ thống thi đấu quốc gia. Gồm 20 câu lạc bộ, giải đấu sử dụng hệ thống lên xuống hạng cùng với English Football League (EFL; được gọi là "The Football League" trước 2016–17).
			<br>
			Giải đấu được thành lập vào ngày 20 tháng 2 năm 1992 với tên gọi FA Premier League sau quyết định của các câu lạc bộ tham dự Football League First Division tách khỏi Football League, một giải đấu khởi nguồn từ năm 1888, nhằm tận dụng lợi thế về các thỏa thuận bản quyền truyền hình.
			<br>
			Đã có tất cả 47 câu lạc bộ của Anh và 2 câu lạc bộ của xứ Wales tham dự kể từ mùa giải đầu tiên của Premier League năm 1992, nhưng mới chỉ có 6 trong số đó giành được chức vô địch: <a href="manutd.html">Manchester United</a> (13), <a href="chelsea.html">Chelsea</a> (5), <a href="arsenal.html">Arsenal</a> và <a>Manchester City</a> (3), Blackburn Rovers và <a href="leicester.html">Leicester City</a> (1).<br> 
			Đương kim vô địch là <a href="mancity.html">Manchester City</a>, đội giành chức vô địch mùa 2017-18 với Kỷ lục vô địch với 100 điểm, kỷ lục thắng 32 trận trong 1 mùa, kỷ lục về số bàn thắng 106 bàn.
		</p>&nbsp;


		<p class="lead"> Thông tin chi tiết có thể xem tại trang chủ giải đấu: <a href="https://www.premierleague.com/home"> https://www.premierleague.com/ </a></p>

		<p class="lead"> Theo dõi giải đấu trên </p>

		<div class="row">
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://www.facebook.com/premierleague/"><img src="Icon/facebook.png" width="auto" height="50px"></a></div>
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://twitter.com/premierleague"><img src="Icon/twitter.png" width="auto" height="50px"></a></div>
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://www.instagram.com/premierleague/"><img src="Icon/instagram.png" width="auto" height="50px"></a></div>
		</div>

	</div>

	</div>



		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

	</body>
</html>
