<!DOCTYPE html>
<html lang="vi">
	<head>
		<title> Bundesliga </title>
		<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
		<meta name="keyword" content="bong da, ket qua, lich thi dau" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="score.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<style>
		  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		    color: black;
		    cursor: default;
			font-weight: bold;
			background-color: transparent;
			border-bottom: 3px solid #b30000;
		}
  </style>
	</head>


	<body class="bd">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Các
								giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="anh.html">Premier League</a></li>
								<li><a href="taybannha.html">La Liga</a></li>
								<li><a href="italia.html">Series A</a></li>
								<li><a href="phap.html">Ligue I</a></li>
								<li><a href="duc.html">BundesLiga</a></li>
							</ul>
						</li>
						<li><a href="tintuc.html">Tin tức</a></li>
						<li><a href="video.html">Video</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>



	<div class="row">
        <div class="col-md-2">
            <img src="LogoGiaiDau\header5.png" width="150px" height="auto">
       </div>
        <div class='col-md-10'>

            <div class="col-md-12">
                <img src="LogoCLB\Bundesliga\dortmund.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\bayern-munich.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\bayer-leverkusen.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\schalke04.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\monchengladbach.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\augsburg.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\dusseldorf.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\freiburg.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\hannover.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\hertha-berlin.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\hoffenheim.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\leipzig.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\mainz05.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\nurnberg.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\stuttgart.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\werder-bremen.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\wolfsburg.png" width="42px" height="auto">
                <img src="LogoCLB\Bundesliga\frankfurt.png" width="42px" height="auto">
            </div>
            &nbsp
            <div class="col-md-12" style="background-color: #000000; color: white;">
               <h1 style="text-align: center;">Giải bóng đá vô địch quốc gia Đức</h1>
        </div>


    <!--/Toolbar -->
    <ul class="nav nav-pills nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab"><h4>Bảng xếp hạng</h4></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab"><h4>Lịch thi đấu - Kết quả</h4></a></li>
      </ul>
</div>

      <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
				<div class="container" style="width: 90%">
				<table class="table">&nbsp
				<tr style="background-color: #b30000; color: #fff">
				  <th class="col-md-1"><p>Vị trí</p></th>
				  <th class="col-md-5"><p>Câu lạc bộ</p></th>
				  <th class="col-md-1"><p align="center">Trận</p></th>
				  <th class="col-md-1"><p align="center">Thắng</p></th>
				  <th class="col-md-1"><p align="center">Hòa</p></th>
				  <th class="col-md-1"><p align="center">Thua</p></th>
				  <th class="col-md-1"><p align="center">+/-</p></th>
				  <th class="col-md-1"><p align="center">Điểm</p></th>
				</tr>
				<%i=1%>
				<%results[3].forEach(function(rows){%>
				<tr style="background-color: white">
					<td><%=i++%></td>
					<td><img src="<%=rows.logo_doibong%>" alt="score+" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></td>
					<td align="center"><%=rows.st%></td>
					<td align="center"><%=rows.w%></td>
					<td align="center"><%=rows.d%></td>
					<td align="center"><%=rows.l%></td>
					<td align="center"><%=rows.hieuso%></td>
					<td align="center"><%=rows.diem%></td>
				</tr>
				<%})%>
				</table>
		</div>
        </div>
        <div role="tabpanel" class="tab-pane tab-pane fade" id="profile">

          	 <ul class="nav nav-pills nav-justified" role="tablist">&nbsp
		        <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 1</a></li>
		        <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 2</a></li>
		        <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 3</a></li>

		      </ul>


		      <div class="tab-content">

						<div role="tabpanel" class="tab-pane active" id="r1">
								<table class="table">
										<tr>
										  <th class="col-xs-5"><p align="center">HOME</p></th>
										  <th class="col-xs-1"><p align="center"></p></th>
										  <th class="col-xs-5"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[0].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center" style="background-color: #b30000" class="white"><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>

		        <div role="tabpanel" class="tab-pane tab-pane fade" id="r2">
								<table class="table">
										<tr>
										  <th class="col-xs-5"><p align="center">HOME</p></th>
										  <th class="col-xs-1"><p align="center"></p></th>
										  <th class="col-xs-5"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[2].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center"style="background-color: #b30000" class="white" ><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>
						<div role="tabpanel" class="tab-pane tab-pane fade" id="r3">
							<table class="table">
									<tr>
									  <th class="col-xs-5"><p align="center">HOME</p></th>
									  <th class="col-xs-1"><p align="center"></p></th>
									  <th class="col-xs-5"><p align="center">AWAY</p></th>
									</tr>
									<tr>
										<%results[1].forEach(function(rows){%>
												<tr>
													<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
													<td><p align="center" style="background-color: #b30000" class="white"><%=rows.result%></p></td>
													<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
												</tr>
											<%})%>
									</tr>
								</table>
						</div>
		</div>
		</div>

	</div>


		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>



	</body>
</html>
