<!DOCTYPE html>
<html lang="vi">
	<head>
		<title> Bóng đá </title>
		<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
		<meta name="keyword" content="bong da, ket qua, lich thi dau" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="score.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<style>
		  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		    color: #fff;
		    background-color: #0047b3;
		}
  </style>
	</head>
	

	<body class="bd">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Các giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="anh.html">Premier League</a></li>
								<li><a href="taybannha.html">La Liga</a></li>
								<li><a href="#">Series A</a></li>
								<li><a href="phap.html">Ligue I</a></li>
								<li><a href="duc.html">BundesLiga</a></li>
							</ul>
						</li>
						<li><a href="#">Tin tức</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Bên lề</a></li>
								<li><a href="#">Highlights</a></li>
								<li><a href="#"></a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

	<!--/Logo League -->
		<img src="LogoGiaiDau/seriesa.png" width="130px" height="auto" alt="series a" class="center img-responsive" >&nbsp&nbsp
	<!--/Toolbar -->

	<!-- Nav tabs -->
	<ul class="nav nav-pills nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab">Bảng xếp hạng</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab">Lịch thi đấu - Kết quả</a></li>
        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab"
            data-toggle="tab">Số liệu thống kê</a></li>
     </ul>

      <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
			<div class="col-md-10">
				<div class="container">
				<table class="table">&nbsp
				<tr style="background-color: #0047b3; color: #fff">
				  <th class="col-md-1"><p>Vị trí</p></th>
				  <th class="col-md-5"><p>Câu lạc bộ</p></th>
				  <th class="col-md-1"><p align="center">Trận</p></th>
				  <th class="col-md-1"><p align="center">Thắng</p></th>
				  <th class="col-md-1"><p align="center">Hòa</p></th>
				  <th class="col-md-1"><p align="center">Thua</p></th>
				  <th class="col-md-1"><p align="center">+/-</p></th>
				  <th class="col-md-1"><p align="center">Điểm</p></th>
				</tr>
				<tr>
					<td>1</td>
					<td><img src="LogoCLB/Series A/Juventus.png" alt="score+" width="auto" height="20px"> Juventus</td><td align="center">5</td><td align="center">4</td><td align="center">1</td><td align="center">0</td><td align="center">10</td><td align="center">15</td>
				</tr>
				<tr>
					<td>2</td>
					<td><img src="LogoCLB/Series A/Napoli.png" alt="score+" width="auto" height="20px"> Napoli</td><td align="center">5</td><td align="center">4</td><td align="center">0</td><td align="center">1</td><td align="center">12</td><td align="center">12</td>
				</tr>
				<tr>
					<td>3</td>
					<td><img src="LogoCLB/Series A/Internazionale.png" alt="score+" width="auto" height="20px"> Inter</td><td align="center">5</td><td align="center">3</td><td align="center">1</td><td align="center">1</td><td align="center">8</td><td align="center">10</td>
				</tr>
				<tr>
					<td>4</td>
					<td><img src="LogoCLB/Series A/AC Milan.png" alt="score+" width="auto" height="20px"> AC Milan</td><td align="center">5</td><td align="center">3</td><td align="center">0</td><td align="center">2</td><td align="center">10</td><td align="center">9</td>
				</tr>
				</table>
			</div></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">

          	 <ul class="nav nav-tabs nav-justified " role="tablist">
		        <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 1</a></li>
		        <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 2</a></li>
		        <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 3</a></li>
		        <li role="presentation"><a href="#r4" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 4</a></li>
		        <li role="presentation"><a href="#r5" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 5</a></li>
		        <li role="presentation"><a href="#r6" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 6</a></li>
		        <li role="presentation"><a href="#r7" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 7</a></li>
		        <li role="presentation"><a href="#r8" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 8</a></li>
		        <li role="presentation"><a href="#r9" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 9</a></li>
		        <li role="presentation"><a href="#r10" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 10</a></li>
		      </ul>


		      <div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="r1">
								<table class="table">
										<tr>
										  <th class="col-xs-4"><p align="center">HOME</p></th>
										  <th class="col-xs-4"><p align="center"></p></th>
										  <th class="col-xs-4"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[0].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center"><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>

		        <div role="tabpanel" class="tab-pane" id="r2">
								<table class="table">
										<tr>
										  <th class="col-xs-4"><p align="center">HOME</p></th>
										  <th class="col-xs-4"><p align="center"></p></th>
										  <th class="col-xs-4"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[2].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center"><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="r3">
							<table class="table">
									<tr>
									  <th class="col-xs-4"><p align="center">HOME</p></th>
									  <th class="col-xs-4"><p align="center"></p></th>
									  <th class="col-xs-4"><p align="center">AWAY</p></th>
									</tr>
									<tr>
										<%results[1].forEach(function(rows){%>
												<tr>
													<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
													<td><p align="center"><%=rows.result%></p></td>
													<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
												</tr>
											<%})%>
									</tr>
								</table>
						</div>
		<div role="tabpanel" class="tab-pane" id="r4">
			<p>Chưa có dữ liệu mới nhất</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="r5">
			<p>Chưa có dữ liệu mới nhất</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="r6">
			<p>Chưa có dữ liệu mới nhất</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="r7">
			<p>Chưa có dữ liệu mới nhất</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="r8">
			<p>Chưa có dữ liệu mới nhất</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="r9">
			<p>Chưa có dữ liệu mới nhất</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="r10">
			<p>Chưa có dữ liệu mới nhất</p>
		</div>
	</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="profile2">
			<p> chưa có gì cả</p>
		</div>	
	</div>

		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>


	</body>
</html>
