<!DOCTYPE html>
<html lang="vi">
	<head>
		<title> Serie A TIM </title>
		<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
		<meta name="keyword" content="bong da, ket qua, lich thi dau" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="score.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<style>
		  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		    cursor: default;
			font-weight: bold;
			background-color: transparent !important;
			border-bottom: 3px solid #000000;
			color: #39004d;
			border-radius: 0px;
			color: black;
		}
		.nav a:hover {
			  background-color: transparent !important;
			  border-bottom: 3px solid #000000;
			  border-radius: 0px;
  </style>
	</head>


	<body class="bd">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Các
								giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="anh.html">Premier League</a></li>
								<li><a href="taybannha.html">La Liga</a></li>
								<li><a href="italia.html">Series A</a></li>
								<li><a href="phap.html">Ligue I</a></li>
								<li><a href="duc.html">BundesLiga</a></li>
							</ul>
						</li>
						<li><a href="tintuc.html">Tin tức</a></li>
						<li><a href="video.html">Video</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>



	<div class="row">
        <div class="col-md-2 col-xs-5">
            <a href="italia.html"><img src="LogoGiaiDau\header3.png" width="140px" height="auto"></a>
       </div>
        <div class='col-md-10'>

            <div class="row">
            	<div class="col-md-12 col-xs-7">
                <a href="juventus.html"><img class="zoom" src="LogoCLB\Series A\Juventus.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="napoli.html"><img class="zoom" src="LogoCLB\Series A\Napoli.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="roma.html"><img class="zoom" src="LogoCLB\Series A\AS Roma.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="inter.html"><img class="zoom" src="LogoCLB\Series A\Internazionale.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="milan.html"><img class="zoom" src="LogoCLB\Series A\AC Milan.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="parma.html"><img class="zoom" src="LogoCLB\Series A\AC Parma.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="atalanta.html"><img class="zoom" src="LogoCLB\Series A\atalanta.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="bologna.html"><img class="zoom" src="LogoCLB\Series A\Bologna.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="cagliari.html"><img class="zoom" src="LogoCLB\Series A\cagliari.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="chievo.html"><img class="zoom" src="LogoCLB\Series A\Chievo Verona.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="empoli.html"><img class="zoom" src="LogoCLB\Series A\Empoli.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="fiorentina.html"><img class="zoom" src="LogoCLB\Series A\Fiorentina.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="frosinone.html"><img class="zoom" src="LogoCLB\Series A\Frosinone.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="genoa.html"><img class="zoom" src="LogoCLB\Series A\Genoa.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="spal.html"><img class="zoom" src="LogoCLB\Series A\S.P.A.L.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="sampdoria.html"><img class="zoom" src="LogoCLB\Series A\Sampdoria.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="sassuolo.html"><img class="zoom" src="LogoCLB\Series A\sassuolo.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="lazio.html"><img class="zoom" src="LogoCLB\Series A\SS Lazio.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="torino.html"><img class="zoom" src="LogoCLB\Series A\Torino.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="udinese.html"><img class="zoom" src="LogoCLB\Series A\Udinese.png" width="38px" height="auto"></a>&nbsp;&nbsp;
               </div>
            </div>
            &nbsp;
            <div class="row">
		      <div style="background-color: #99b3ff;">   
		      	<ul class="nav nav-pills nav-justified" role="tablist">
			        <li role="presentation" class="active"><a href="#home1" aria-controls="home1" role="tab"
			            data-toggle="tab"><h5 class="black">SERIE A TIM</h5></a></li>
			        <li role="presentation"><a href="#profile5" aria-controls="profile5" role="tab"
			            data-toggle="tab"><h5 class="black">Thông tin</h5></a></li>
		      	</ul>
		      </div>
		  	</div>
        </div>
    </div>

<div class="tab-content">

    
	
    <!-- Nội dung tab PL-->
	
	<div role="tabpanel" class="tab-pane active" id="home1">
    <!--/Toolbar -->
    <ul class="nav nav-pills nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab"><h5>Bảng xếp hạng</h5></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab"><h5>Lịch thi đấu - Kết quả</h5></a></li>
        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab"
            data-toggle="tab"><h5>Thống kê</h5></a></li>
      </ul>

      <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
				<div class="container" style="width: 90%">
				<table class="table">&nbsp
				<tr style="background-color: #002080; color: #fff">
				  <th class="col-md-1"><p>Vị trí</p></th>
				  <th class="col-md-5"><p>Câu lạc bộ</p></th>
				  <th class="col-md-1"><p align="center">Trận</p></th>
				  <th class="col-md-1"><p align="center">Thắng</p></th>
				  <th class="col-md-1"><p align="center">Hòa</p></th>
				  <th class="col-md-1"><p align="center">Thua</p></th>
				  <th class="col-md-1"><p align="center">+/-</p></th>
				  <th class="col-md-1"><p align="center">Điểm</p></th>
				</tr>
				<%i=1%>
				<%results[3].forEach(function(rows){%>
				<tr style="background-color: white">
					<td><%=i++%></td>
					<td><img src="<%=rows.logo_doibong%>" alt="score+" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></td>
					<td align="center"><%=rows.st%></td>
					<td align="center"><%=rows.w%></td>
					<td align="center"><%=rows.d%></td>
					<td align="center"><%=rows.l%></td>
					<td align="center"><%=rows.hieuso%></td>
					<td align="center"><%=rows.diem%></td>
				</tr>
				<%})%>
				</table>
				</div>
        </div>

		<div role="tabpanel" class="tab-pane tab-pane fade" id="profile">

          	 <ul class="nav nav-pills nav-justified " role="tablist">&nbsp
		        <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 1</a></li>
		        <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 2</a></li>
		        <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 3</a></li>

		      </ul>


		      <div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="r1">
								<table class="table">
										<tr>
										  <th class="col-xs-5"><p align="center">HOME</p></th>
										  <th class="col-xs-1"><p align="center"></p></th>
										  <th class="col-xs-5"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[0].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center" style="background-color: #002080; color: #fff"><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>

		        <div role="tabpanel" class="tab-pane tab-pane fade" id="r2">
								<table class="table">
										<tr>
										  <th class="col-xs-5"><p align="center">HOME</p></th>
										  <th class="col-xs-1"><p align="center"></p></th>
										  <th class="col-xs-5"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[2].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center" style="background-color: #002080; color: #fff"><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>
						<div role="tabpanel" class="tab-pane tab-pane fade" id="r3">
							<table class="table">
									<tr>
									  <th class="col-xs-5"><p align="center">HOME</p></th>
									  <th class="col-xs-1"><p align="center"></p></th>
									  <th class="col-xs-5"><p align="center">AWAY</p></th>
									</tr>
									<tr>
										<%results[1].forEach(function(rows){%>
												<tr>
													<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
													<td><p align="center" style="background-color: #002080; color: #fff"><%=rows.result%></p></td>
													<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
												</tr>
											<%})%>
									</tr>
								</table>
						</div>

		</div>
		</div>
			<!---Nội dung tab Thống kê--->
		<div role="tabpanel" class="tab-pane " id="profile2">
			&nbsp;
			<div class="container">

			<div class="row">
		      <div>   
		      	<ul class="nav nav-tabs nav-justified" role="tablist">
			        <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab"
			            data-toggle="tab"><img src="Icon\top-scorer.png" width="auto" height="30px"><h5>Top ghi bàn</h5></a></li>
			        <li role="presentation"><a href="#profile6" aria-controls="profile6" role="tab"
			            data-toggle="tab"><img src="Icon\top-assist.png" width="auto" height="30px"><h5>Top kiến tạo</h5></a></li>
			            <li role="presentation"><a href="#profile7" aria-controls="profile6" role="tab"
			            data-toggle="tab"><img src="Icon\yellow.png" width="auto" height="30px"><h5>Thẻ vàng</h5></a></li>
			            <li role="presentation"><a href="#profile8" aria-controls="profile6" role="tab"
			            data-toggle="tab"><img src="Icon\red.png" width="auto" height="30px"><h5>Thẻ đỏ</h5></a></li>
		      	</ul>
		      </div>
		  	</div>
			
			</div>

			
			<div class="tab-content">
				<!-- Tab bàn thắng -->
					<div role="tabpanel" class="tab-pane active" id="home2">
						<div class="container" style="width: 90%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-1">Vị trí</th>
					       <th class="col-md-3">Cầu thủ</th>
					        <th class="col-md-7">Câu lạc bộ</th>
					        <th class="col-md-1">Bàn thắng</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[4].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
					        <td><%=rows.ten%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.banthang%></td>
					      </tr>
								<%})%>
					    </tbody>
		  				</table>
		  				</div>
					</div>
					

					<!-- Tab kiến tạo -->
					<div role="tabpanel" class="tab-pane fade" id="profile6">
						<div class="container" style="width: 90%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-1">Vị trí</th>
					       <th class="col-md-3">Cầu thủ</th>
					        <th class="col-md-7">Câu lạc bộ</th>
					        <th class="col-md-1">Kiến tạo</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[5].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
					        <td><%=rows.ten%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.kientao%></td>
					      </tr>
								<%})%>
					    </tbody>
		  				</table>
		  				</div>
					</div>



					<!-- Tab thẻ vàng -->
					<div role="tabpanel" class="tab-pane fade" id="profile7">
						<div class="container" style="width: 80%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-4">Vị trí</th>
					      	<th class="col-md-6">Câu lạc bộ</th>
					        <th class="col-md-2" style="text-align: center;">Thẻ vàng</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[6].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.tv%></td>
					      </tr>
								<%})%>
		  				</table>
		  				</div>
					</div>
					
					
					<!-- Tab thẻ đỏ -->
					<div role="tabpanel" class="tab-pane fade" id="profile8">
						<div class="container" style="width: 80%">
						<table class="table">
					    <thead>
					      <tr>
					      	<th class="col-md-4">Vị trí</th>
					       	<th class="col-md-6">Câu lạc bộ</th>
					        <th class="col-md-2" style="text-align: center;">Thẻ đỏ</th>
					      </tr>
					    </thead>
					    <tbody>
								<%i=1%>
								<%results[7].forEach(function(rows){%>
					      <tr>
					      	<td><%=i++%></td>
									<td><img src="<%=rows.logo_clb%>" width="auto" height="20px">&nbsp;<%=rows.clb%></td>
					        <td align="center"><%=rows.td%></td>
					      </tr>
								<%})%>
					    </tbody>
		  				</table>
		  				</div>
					</div>
		
	</div>

	</div>

	</div>
</div>

<!---Nội dung tab Thông tin--->
	<div role="tabpanel" class="tab-pane" id="profile5">
		<img src="LogoGiaiDau\seriea-info.jpg" width="auto" height="200px" class="center">

		<h3><b>SƠ LƯỢC</b></h3>

		<p class="lead">
			<b>Serie A</b> còn gọi là <b>Serie A TIM</b> do được tài trợ bởi <b>TIM</b>, là một giải đấu chuyên nghiệp cao nhất cấp câu lạc bộ trong hệ thống các giải đấu bóng đá Ý và đã hoạt động trong hơn tám mươi năm kể từ khi mùa 1929-1930. <b>Serie A</b> được xếp vào hàng một trong những giải đấu bóng đá tốt nhất trên thế giới và thường được mô tả như một giải đấu vô địch quốc gia mang tính chiến thuật nhất. Giải được xếp hạng thứ ba trong số các giải đấu châu Âu theo hệ số elo của <b>UEFA</b>, xếp sau <b>La Liga</b> và Premier League, một phần cũng dựa trên thành tích thi đấu của các câu lạc bộ Ý tại <b>Champions League</b> và <b>Europa League</b> trong 5 năm qua. <b>Serie A</b> đã từng dẫn đầu bảng xếp hạng <b>UEFA</b> vào 2 giai đoạn 1986-1988 và 1990-1999. Giải đấu bao gồm 20 đội bóng thi đấu vòng tròn theo lượt. Ba đội cuối bảng sẽ phải xuống chơi ở giải hạng hai là <b>Serie B</b>.
			<br><br>
			Đương kim vô địch hiện tại của giải đấu (mùa 2017-18) là <a href="juventus.html">Juventus FC</a>.
		
		</p>&nbsp;


		<p class="lead"> Thông tin chi tiết có thể xem tại trang chủ giải đấu: <a href="http://www.legaseriea.it/en"> http://www.legaseriea.it/en </a></p>

		<p class="lead"> Theo dõi giải đấu nhiều hơn trên </p>

		<div class="row">
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://www.facebook.com/SerieA/"><img src="Icon/facebook.png" width="auto" height="50px"></a></div>
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://twitter.com/seriea"><img src="Icon/twitter.png" width="auto" height="50px"></a></div>
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://www.instagram.com/seriea/"><img src="Icon/instagram.png" width="auto" height="50px"></a></div>
		</div>

	</div>


		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>


	</body>
</html>
