<!DOCTYPE html>
<html lang="vi">
	<head>
		<title> Ligue 1 </title>
		<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
		<meta name="keyword" content="bong da, ket qua, lich thi dau" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="normalize.css" />
		<link rel="stylesheet" href="score.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<style>
		  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		    
		    cursor: default;
			font-weight: bold;
			background-color: transparent !important;
			border-bottom: 3px solid #3d3d5c;
			color: #39004d;
			border-radius: 0px;
		}

		.nav a:hover {
			  background-color: transparent !important;
			  border-bottom: 3px solid #52527a;
			  border-radius: 0px;
			}
		  </style>
	</head>



	<body class="bd">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Các
								giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="anh.html">Premier League</a></li>
								<li><a href="taybannha.html">La Liga</a></li>
								<li><a href="italia.html">Series A</a></li>
								<li><a href="phap.html">Ligue I</a></li>
								<li><a href="duc.html">BundesLiga</a></li>
							</ul>
						</li>
						<li><a href="tintuc.html">Tin tức</a></li>
						<li><a href="video.html">Video</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>


	<div class="row">
        <div class="col-md-2 col-xs-5">
            <a href="phap.html"><img src="LogoGiaiDau\header4.png" width="140px" height="auto"></a>
       </div>
        <div class='col-md-10'>

            <div class="row">
            	<div class="col-md-12 col-xs-7">
                <a href="amiens.html"><img class="zoom" src="LogoCLB\Ligue 1\Amiens.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="angers.html"><img class="zoom" src="LogoCLB\Ligue 1\Angers.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="bordeaux.html"><img class="zoom" src="LogoCLB\Ligue 1\Bordeaux.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="caen.html"><img class="zoom" src="LogoCLB\Ligue 1\Caen.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="dijon.html"><img class="zoom" src="LogoCLB\Ligue 1\Dijon.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="guingamp.html"><img class="zoom" src="LogoCLB\Ligue 1\Guingamp.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="lille.html"><img class="zoom" src="LogoCLB\Ligue 1\Lille.png" width="38x" height="auto"></a>&nbsp;&nbsp;
                <a href="lyon.html"><img class="zoom" src="LogoCLB\Ligue 1\Lyon.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="marseille.html"><img class="zoom" src="LogoCLB\Ligue 1\Marseille.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="monaco.html"><img class="zoom" src="LogoCLB\Ligue 1\Monaco.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="montpellier.html"><img class="zoom" src="LogoCLB\Ligue 1\Montpellier.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="nantes.html"><img class="zoom" src="LogoCLB\Ligue 1\Nantes.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="nice.html"><img class="zoom" src="LogoCLB\Ligue 1\Nice.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="nimes.html"><img class="zoom" src="LogoCLB\Ligue 1\Nimes.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="psg.html"><img class="zoom" src="LogoCLB\Ligue 1\PSG.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="reims.html"><img class="zoom" src="LogoCLB\Ligue 1\Reims.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="rennais.html"><img class="zoom" src="LogoCLB\Ligue 1\Rennais.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="saintetienne.html"><img class="zoom" src="LogoCLB\Ligue 1\SaintEtienne.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="strabourg.html"><img class="zoom" src="LogoCLB\Ligue 1\Strasbourg.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="toulouse.html"><img class="zoom" src="LogoCLB\Ligue 1\Toulouse.png" width="38px" height="auto"></a>&nbsp;&nbsp;
            </div>
        </div>
            &nbsp;
            <div class="row">
		      <div style="background-color: #d1d1e0;">   
		      	<ul class="nav nav-pills nav-justified" role="tablist">
			        <li role="presentation" class="active"><a href="#home1" aria-controls="home1" role="tab"
			            data-toggle="tab"><h5 style="color: #3d3d5c;">LIGUE I</h5></a></li>
			        <li role="presentation"><a href="#profile5" aria-controls="profile5" role="tab"
			            data-toggle="tab"><h5 style="color: #3d3d5c;">Thông tin</h5></a></li>
		      	</ul>
		      </div>
		  	</div>
        </div>
    </div>

<div class="tab-content">


	<div role="tabpanel" class="tab-pane active" id="home1">
    <!--/Toolbar -->
    <ul class="nav nav-pills nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab" class="gray"><h5>Bảng xếp hạng</h5></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab" class="gray"><h5>Lịch thi đấu - Kết quả</h5></a></li>
        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab"
            data-toggle="tab" class="gray"><h5>Thống kê</h5></a></li>
      </ul>


      <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
				<div class="container" style="width: 90%">
				<table class="table">&nbsp
				<tr style="background-color: #e6e600; color: #000">
				  <th class="col-md-1"><p>Vị trí</p></th>
				  <th class="col-md-5"><p>Câu lạc bộ</p></th>
				  <th class="col-md-1"><p align="center">Trận</p></th>
				  <th class="col-md-1"><p align="center">Thắng</p></th>
				  <th class="col-md-1"><p align="center">Hòa</p></th>
				  <th class="col-md-1"><p align="center">Thua</p></th>
				  <th class="col-md-1"><p align="center">+/-</p></th>
				  <th class="col-md-1"><p align="center">Điểm</p></th>
				</tr>
				<%i=1%>
				<%results[3].forEach(function(rows){%>
				<tr style="background-color: white">
					<td><%=i++%></td>
					<td><img src="<%=rows.logo_doibong%>" alt="score+" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></td>
					<td align="center"><%=rows.st%></td>
					<td align="center"><%=rows.w%></td>
					<td align="center"><%=rows.d%></td>
					<td align="center"><%=rows.l%></td>
					<td align="center"><%=rows.hieuso%></td>
					<td align="center"><%=rows.diem%></td>
				</tr>
				<%})%>
				</table>
		</div>
        </div>

				<div role="tabpanel" class="tab-pane tab-pane fade" id="profile">

          	 <ul class="nav nav-pills nav-justified " role="tablist">&nbsp
		        <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 1</a></li>
		        <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 2</a></li>
		        <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
		            data-toggle="tab">Vòng 3</a></li>
		      </ul>


		      <div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="r1">
								<table class="table">
										<tr>
										  <th class="col-xs-5"><p align="center">HOME</p></th>
										  <th class="col-xs-1"><p align="center"></p></th>
										  <th class="col-xs-5"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[0].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center" style="background-color: #d1d1e0; color: #3d3d5c;"><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>

		        <div role="tabpanel" class="tab-pane tab-pane fade" id="r2">
								<table class="table">
										<tr>
										  <th class="col-xs-5"><p align="center">HOME</p></th>
										  <th class="col-xs-1"><p align="center"></p></th>
										  <th class="col-xs-5"><p align="center">AWAY</p></th>
										</tr>
										<tr>
											<%results[2].forEach(function(rows){%>
													<tr>
														<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
														<td><p align="center" style="background-color: #d1d1e0; color: #3d3d5c;"><%=rows.result%></p></td>
														<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
													</tr>
												<%})%>
										</tr>
								</table>
						</div>
						<div role="tabpanel" class="tab-pane tab-pane fade" id="r3">
							<table class="table">
									<tr>
									  <th class="col-xs-5"><p align="center">HOME</p></th>
									  <th class="col-xs-1"><p align="center"></p></th>
									  <th class="col-xs-5"><p align="center">AWAY</p></th>
									</tr>
									<tr>
										<%results[1].forEach(function(rows){%>
												<tr>
													<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
													<td><p align="center" style="background-color: #d1d1e0; color: #3d3d5c;"><%=rows.result%></p></td>
													<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
												</tr>
											<%})%>
									</tr>
								</table>
						</div>

		</div>
		</div>

		<div role="tabpanel" class="tab-pane " id="profile2"><p>chua co gi het</p>
		</div>
	</div>
</div>
<!---Nội dung tab Thông tin--->
	<div role="tabpanel" class="tab-pane" id="profile5">
		<img src="LogoGiaiDau\phap.png" width="auto" height="150px" class="center">

		<h3><b>SƠ LƯỢC</b></h3>

		<p class="lead">
			<b>Giải bóng đá vô địch quốc gia Pháp</b> hay còn biết tới với cái tên <b>Ligue I</b> là hạng thi đấu cao nhất của bóng đá Pháp. Giải được tổ chức từ 1932 cho đến nay ngoại trừ các năm từ 1939 đến 1945 (vì Thế chiến thứ hai). Trong thời gian đó, giải được tổ chức riêng rẽ ở các vùng khác nhau.
			<br>

			Theo xếp hạng của Liên đoàn bóng đá châu Âu, 3 đội đứng đầu giải vô địch bóng đá Pháp sẽ giành quyền chơi tại <b>UEFA Champions League</b> mùa bóng sau (2 đội đầu được vào thẳng vòng đấu bảng, đội thứ 3 phải dự vòng sơ loại thứ nhất). Đội xếp thứ 4 và thứ 5 cùng đội đoạt Cúp bóng đá Pháp sẽ được tham gia Cúp UEFA.

			<br><br>
			Giải đấu bao gồm 20 đội bóng thi đấu vòng tròn theo lượt. Ba đội cuối bảng sẽ phải xuống chơi ở giải hạng hai là <b>Ligue II</b>.
			Đương kim vô địch hiện tại của giải đấu là <a href="psg.html">Paris Saint-Germain F.C</a>.
		</p>&nbsp;


		<p class="lead"> Thông tin chi tiết có thể xem tại trang chủ giải đấu: <a href="https://www.ligue1.com/"> https://www.ligue1.com/ </a></p>

		<p class="lead"> Theo dõi giải đấu nhiều hơn trên </p>

		<div class="row">
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://www.facebook.com/Ligue1Conforama/"><img src="Icon/facebook.png" width="auto" height="50px"></a></div>
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://twitter.com/ligue1conforama"><img src="Icon/twitter.png" width="auto" height="50px"></a></div>
			<div class="col-xs-6 col-sm-4" align="center"><a href="https://www.instagram.com/ligue1conforama/"><img src="Icon/instagram.png" width="auto" height="50px"></a></div>
		</div>

	</div>


		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

	</body>
</html>
