<!DOCTYPE html>
<html lang="vi">

<head>
    <title> La Liga </title>
    <meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
    <meta name="keyword" content="bong da, ket qua, lich thi dau" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="score.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <style>
          .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            cursor: default;
            font-weight: bold;
            background-color: transparent !important;
            border-bottom: 3px solid #ff0066;
            color: black;
        }
        .nav a:hover {
        background-color: transparent !important;
        border-bottom: 3px solid #52527a;
        border-radius: 0px;
      }



  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="score.html"><img src="Logoweb.png" alt="score+"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Các
              giải đấu <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="anh.html">Premier League</a></li>
              <li><a href="taybannha.html">La Liga</a></li>
              <li><a href="italia.html">Series A</a></li>
              <li><a href="phap.html">Ligue I</a></li>
              <li><a href="duc.html">BundesLiga</a></li>
            </ul>
          </li>
          <li><a href="tintuc.html">Tin tức</a></li>
          <li><a href="video.html">Video</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>


    <div class="row">
        <div class="col-md-2 col-xs-5">
            <a href="taybannha.html"><img src="LogoGiaiDau\header2.png" width="auto" height="130px"></a>
       </div>
        <div class='col-md-10'>

            <div class="row">
              <div class="col-md-12 col-xs-7">
                <a href="barcelona.html"><img class="zoom" src="LogoCLB\La Liga\barcelona.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="atm.html"><img class="zoom" src="LogoCLB\La Liga\atleticomadrid.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="real.html"><img class="zoom" src="LogoCLB\La Liga\real.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="alaves.html"><img class="zoom" src="LogoCLB\La Liga\alaves.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="celtavigo.html"><img class="zoom" src="LogoCLB\La Liga\celtavigo.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="sevilla.html"><img class="zoom" src="LogoCLB\La Liga\sevilla.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="bilbao.html"><img class="zoom" src="LogoCLB\La Liga\athleticbilbao.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="espanyol.html"><img class="zoom" src="LogoCLB\La Liga\espanyol.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="getafe.html"><img class="zoom" src="LogoCLB\La Liga\getafe.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="leganes.html"><img class="zoom" src="LogoCLB\La Liga\leganes.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="girona.html"><img class="zoom" src="LogoCLB\La Liga\girona.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="huesca.html"><img class="zoom" src="LogoCLB\La Liga\huesca.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="eibar.html"><img class="zoom" src="LogoCLB\La Liga\eibar.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="rayo.html"><img class="zoom" src="LogoCLB\La Liga\rayo.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="realbetis.html"><img class="zoom" src="LogoCLB\La Liga\realbetis.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="sociedad.html"><img class="zoom" src="LogoCLB\La Liga\sociedad.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="valencia.html"><img class="zoom" src="LogoCLB\La Liga\valencia.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="valladolid.html"><img class="zoom" src="LogoCLB\La Liga\valladolid.png" width="38x" height="auto"></a>&nbsp;&nbsp;
                <a href="villareal.html"><img class="zoom" src="LogoCLB\La Liga\villareal.png" width="38px" height="auto"></a>&nbsp;&nbsp;
                <a href="levante.html"><img class="zoom" src="LogoCLB\La Liga\levante.png" width="38px" height="auto"></a>&nbsp;&nbsp;
            </div></div>
            &nbsp;
            <div class="row">
          <div style="background-color: #003300;">   
            <ul class="nav nav-pills nav-justified" role="tablist">
              <li role="presentation" class="active"><a href="#home1" aria-controls="home1" role="tab"
                  data-toggle="tab"><h5 class="white">LA LIGA</h5></a></li>
              <li role="presentation"><a href="#profile5" aria-controls="profile5" role="tab"
                  data-toggle="tab"><h5 class="white">Thông tin</h5></a></li>
            </ul>
          </div>
        </div>
      </div>

  </div>

  <div class="tab-content">

    
  
    <!-- Nội dung tab PL-->
  
  <div role="tabpanel" class="tab-pane active" id="home1">

    <!--/Toolbar -->
    <ul class="nav nav-pills nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab" class="black"><h5>Bảng xếp hạng</h5></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab" class="black"><h5>Lịch thi đấu - Kết quả</h5></a></li>
        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab"
            data-toggle="tab" class="black"><h5>Thống kê</h5></a></li>
      </ul>
      <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
                <div class="container" style="width: 90%">
                <table class="table">&nbsp
                <tr style="background-color: #000000; color: #fff">
                  <th class="col-md-1"><p>Vị trí</p></th>
                  <th class="col-md-2"><p>Câu lạc bộ</p></th>
                  <th class="col-md-1"><p align="center">Trận</p></th>
                  <th class="col-md-1"><p align="center">Thắng</p></th>
                  <th class="col-md-1"><p align="center">Hòa</p></th>
                  <th class="col-md-1"><p align="center">Thua</p></th>
                  <th class="col-md-1"><p align="center">+/-</p></th>
                  <th class="col-md-1"><p align="center">Điểm</p></th>
                </tr>
                <%i=1%>
        				<%results[3].forEach(function(rows){%>
        				<tr style="background-color: white">
        					<td><%=i++%></td>
        					<td><img src="<%=rows.logo_doibong%>" alt="score+" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></td>
        					<td align="center"><%=rows.st%></td>
        					<td align="center"><%=rows.w%></td>
        					<td align="center"><%=rows.d%></td>
        					<td align="center"><%=rows.l%></td>
        					<td align="center"><%=rows.hieuso%></td>
        					<td align="center"><%=rows.diem%></td>
        				</tr>
        				<%})%>
                </table>

        </div>
        </div>

        <div role="tabpanel" class="tab-pane tab-pane fade" id="profile">
             <ul class="nav nav-pills nav-justified " role="tablist">
                <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
                    data-toggle="tab">Vòng 1</a></li>
                <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
                    data-toggle="tab">Vòng 2</a></li>
                <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
                    data-toggle="tab">Vòng 3</a></li>
              </ul>


              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="r1">
        						<table class="table">
        								<tr>
        								  <th class="col-xs-5"><p align="center">HOME</p></th>
        								  <th class="col-xs-1"><p align="center"></p></th>
        								  <th class="col-xs-5"><p align="center">AWAY</p></th>
        								</tr>
        								<tr>
        									<%results[0].forEach(function(rows){%>
        											<tr>
        												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
        												<td><p align="center" style="background-color: #003300; color: white;"><%=rows.result%></p></td>
        												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
        											</tr>
        										<%})%>
        								</tr>
        						</table>
        				</div>

                <div role="tabpanel" class="tab-pane tab-pane fade" id="r2">
        						<table class="table">
        								<tr>
        								  <th class="col-xs-5"><p align="center">HOME</p></th>
        								  <th class="col-xs-1"><p align="center"></p></th>
        								  <th class="col-xs-5"><p align="center">AWAY</p></th>
        								</tr>
        								<tr>
        									<%results[2].forEach(function(rows){%>
        											<tr>
        												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
        												<td><p align="center" style="background-color: #003300; color: white;"><%=rows.result%></p></td>
        												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
        											</tr>
        										<%})%>
        								</tr>
        						</table>
        				</div>
        				<div role="tabpanel" class="tab-pane tab-pane fade" id="r3">
        					<table class="table">
        							<tr>
        							  <th class="col-xs-5"><p align="center">HOME</p></th>
        							  <th class="col-xs-1"><p align="center"></p></th>
        							  <th class="col-xs-5"><p align="center">AWAY</p></th>
        							</tr>
        							<tr>
        								<%results[1].forEach(function(rows){%>
        										<tr>
        											<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
        											<td><p align="center" style="background-color: #003300; color: white;"><%=rows.result%></p></td>
        											<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
        										</tr>
        									<%})%>
        							</tr>
        						</table>
        				</div>
        </div>
        </div>

        <!---Nội dung tab Thống kê--->
    <div role="tabpanel" class="tab-pane " id="profile2"><p>chua co gi het</p>
    </div>
    

    </div>

    </div>
  <!---Nội dung tab Thông tin--->
  <div role="tabpanel" class="tab-pane" id="profile5">
    &nbsp;
    <img src="LogoGiaiDau\laliga-info.png" width="auto" height="120px" class="center">
    &nbsp;

    <h3><b>SƠ LƯỢC</b></h3>

    <p class="lead">
      <b>Giải bóng đá vô địch quốc gia Tây Ban Nha</b> (Campeonato Nacional de Liga de Primera Division), thường được gọi là <b>La Liga</b> (La Liga Santander vì lý do tài trợ với Santander), là giải bóng đá nam chuyên nghiệp cao nhất trong hệ thống giải đấu bóng đá Tây Ban Nha. Được quản lý bởi Liga Nacional de Fútbol Profesional (tiếng Việt: Liên đoàn bóng đá chuyên nghiệp quốc gia), còn được gọi là tắt là <b>LFP</b>, <b>La Liga</b> gồm 20 đội thi đấu vòng tròn 2 lượt, với ba đội xếp hạng thấp nhất ở cuối của mỗi mùa xuống hạng đến giải hạng nhất Segunda División và được thay thế bởi ba đội hàng đầu trong giải đấu đó.
      <br>
      Tổng cộng có 62 đội đã thi đấu tại <b>La Liga</b> kể từ khi giải thành lập. Chín đội đã lên ngôi vô địch, với <a href="real.html">Real Madrid</a> giành danh hiệu kỷ lục 33 lần và <a href="barcelona.html">Barcelona</a> 26 lần. <a href="barcelona.html">Barcelona</a> đã giành chức vô địch <b>La Liga</b> vào năm 1929 trong khi <a href="bilbao.html">Athletic Bilbao</a> giành được một số danh hiệu trong những năm đầu của giải đấu. <b>La Liga</b> cũng chứng kiến ​​những nhà vô địch khác, bao gồm <a href="atm.html">Atlético Madrid</a>, <a href="valencia.html">Valencia</a> và Deportivo de La Coruña.
      <br>
      Đương kim vô địch là <a href="barcelona.html">FC Barcelona</a>, đội giành chức vô địch mùa 2017-18 (hiện tại đã vô địch sớm mùa 2018-19), đánh dấu chức vô địch <b>La Liga</b> thứ 26 trong lịch sử CLB này.
    </p>&nbsp;


    <p class="lead"> Thông tin chi tiết có thể xem tại trang chủ giải đấu: <a href="https://www.laliga.es/en"> https://www.laliga.es/en </a></p>

    <p class="lead"> Theo dõi giải đấu trên </p>

    <div class="row">
      <div class="col-xs-6 col-sm-4" align="center"><a href="https://www.facebook.com/LaLiga/"><img src="Icon/facebook.png" width="auto" height="50px"></a></div>
      <div class="col-xs-6 col-sm-4" align="center"><a href="https://twitter.com/laliga"><img src="Icon/twitter.png" width="auto" height="50px"></a></div>
      <div class="col-xs-6 col-sm-4" align="center"><a href="https://www.instagram.com/laliga/"><img src="Icon/instagram.png" width="auto" height="50px"></a></div>
    </div>

  </div>

  </div>





        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
