<!DOCTYPE html>
<html lang="vi">

<head>
    <title> La Liga </title>
    <meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
    <meta name="keyword" content="bong da, ket qua, lich thi dau" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="score.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <style>
          .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: black;
            cursor: default;
            font-weight: bold;
            background-color: transparent;
            border-bottom: 3px solid #ff0066;
            
        }
  </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="score.html"><img src="Logoweb.png" alt="score+"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Các giải đấu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="anh.html">Premier League</a></li>
                            <li><a href="#">La Liga</a></li>
                            <li><a href="italia.html">Series A</a></li>
                            <li><a href="phap.html">Ligue I</a></li>
                            <li><a href="duc.html">BundesLiga</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tin tức</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Bên lề</a></li>
                            <li><a href="#">Highlights</a></li>
                            <li><a href="#"></a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>



    <div class="row">
        <div class="col-md-2">
            <img src="LogoGiaiDau\header2.png" width="150px" height="auto">
       </div>
        <div class='col-md-10'>

            <div class="col-md-12">
                <img src="LogoCLB\La Liga\barcelona.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\atleticomadrid.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\real.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\alaves.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\celtavigo.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\sevilla.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\athleticbilbao.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\espanyol.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\getafe.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\leganes.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\girona.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\huesca.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\eibar.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\rayo.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\realbetis.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\sociedad.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\valencia.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\valladolid.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\villareal.png" width="42px" height="auto">
                <img src="LogoCLB\La Liga\levante.png" width="42px" height="auto">
            </div>
            &nbsp
            <div class="col-md-12" style="background-color: #003300; color: white;">
               <h1 style="text-align: center;">Giải bóng đá vô địch quốc gia Tây Ban Nha</h1>
        </div>


    <!--/Toolbar -->
    <ul class="nav nav-pills nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab" class="black"><h4>Bảng xếp hạng</h4></a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab" class="black"><h4>Lịch thi đấu - Kết quả</h4></a></li>
      </ul>
</div>
      <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
                <div class="container" style="width: 90%">
                <table class="table">&nbsp
                <tr style="background-color: #000000; color: #fff">
                  <th class="col-md-1"><p>Vị trí</p></th>
                  <th class="col-md-2"><p>Câu lạc bộ</p></th>
                  <th class="col-md-1"><p align="center">Trận</p></th>
                  <th class="col-md-1"><p align="center">Thắng</p></th>
                  <th class="col-md-1"><p align="center">Hòa</p></th>
                  <th class="col-md-1"><p align="center">Thua</p></th>
                  <th class="col-md-1"><p align="center">+/-</p></th>
                  <th class="col-md-1"><p align="center">Điểm</p></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="LogoCLB/La Liga/barcelona.png" alt="score+" width="auto" height="20px"> F.C Barcelona</td><td align="center">5</td><td align="center">4</td><td align="center">1</td><td align="center">0</td><td align="center">10</td><td align="center">15</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="LogoCLB/La Liga/atleticomadrid.png" alt="score+" width="auto" height="20px"> Atletico Madrid</td><td align="center">5</td><td align="center">4</td><td align="center">0</td><td align="center">1</td><td align="center">12</td><td align="center">12</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="LogoCLB/La Liga/real.png" alt="score+" width="auto" height="20px"> Real Madrid</td><td align="center">5</td><td align="center">3</td><td align="center">1</td><td align="center">1</td><td align="center">8</td><td align="center">10</td>
                </tr>
                <tr>
                    <td>4</td><td><img src="LogoCLB/La Liga/getafe.png" alt="score+" width="auto" height="20px"> Getafe</td><td align="center">5</td><td align="center">3</td><td align="center">0</td><td align="center">2</td><td align="center">10</td><td align="center">9</td>
                </tr>
                </table>
            
        </div>
        </div>
        <div role="tabpanel" class="tab-pane tab-pane fade" id="profile">&nbsp
             <ul class="nav nav-pills nav-justified " role="tablist">
                <li role="presentation" class="active"><a href="#r1" aria-controls="round" role="tab"
                    data-toggle="tab">Vòng 1</a></li>
                <li role="presentation"><a href="#r2" aria-controls="round" role="tab"
                    data-toggle="tab">Vòng 2</a></li>
                <li role="presentation"><a href="#r3" aria-controls="round" role="tab"
                    data-toggle="tab">Vòng 3</a></li>
              </ul>


              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="r1">
        						<table class="table">
        								<tr>
        								  <th class="col-xs-5"><p align="center">HOME</p></th>
        								  <th class="col-xs-1"><p align="center"></p></th>
        								  <th class="col-xs-5"><p align="center">AWAY</p></th>
        								</tr>
        								<tr>
        									<%results[0].forEach(function(rows){%>
        											<tr>
        												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
        												<td><p align="center" style="background-color: #003300; color: white;"><%=rows.result%></p></td>
        												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
        											</tr>
        										<%})%>
        								</tr>
        						</table>
        				</div>

                <div role="tabpanel" class="tab-pane tab-pane fade" id="r2">
        						<table class="table">
        								<tr>
        								  <th class="col-xs-5"><p align="center">HOME</p></th>
        								  <th class="col-xs-1"><p align="center"></p></th>
        								  <th class="col-xs-5"><p align="center">AWAY</p></th>
        								</tr>
        								<tr>
        									<%results[2].forEach(function(rows){%>
        											<tr>
        												<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
        												<td><p align="center" style="background-color: #003300; color: white;"><%=rows.result%></p></td>
        												<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
        											</tr>
        										<%})%>
        								</tr>
        						</table>
        				</div>
        				<div role="tabpanel" class="tab-pane tab-pane fade" id="r3">
        					<table class="table">
        							<tr>
        							  <th class="col-xs-5"><p align="center">HOME</p></th>
        							  <th class="col-xs-1"><p align="center"></p></th>
        							  <th class="col-xs-5"><p align="center">AWAY</p></th>
        							</tr>
        							<tr>
        								<%results[1].forEach(function(rows){%>
        										<tr>
        											<td><p align="center"><img src="<%=rows.homeLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.homeTeam%></p></td>
        											<td><p align="center" style="background-color: #003300; color: white;"><%=rows.result%></p></td>
        											<td><p align="center"><img src="<%=rows.awayLogo%>" width="auto" height="20px">&nbsp&nbsp<%=rows.awayTeam%></p></td>
        										</tr>
        									<%})%>
        							</tr>
        						</table>
        				</div>
        </div>
        </div>
    </div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
