<!DOCTYPE html>
<html lang="vi">

<head>
	<title> Score+ </title>
	<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
	<meta name="keyword" content="bong da, ket qua, lich thi dau" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="normalize.css" />
	<link rel="stylesheet" href="score.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
	<script src="Chart.min.js"></script>
	<script src="Chart.js"></script>
	<!--Biểu đồ-->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Trận đấu', 'Percentage'],
          ['Thắng', 75],
          ['Hòa', 25],
					['Thua', 25]
        ]);

        var options = {
					pieHole: 0.4,
          pieSliceText: 'none',
          pieStartAngle: 135,
          tooltip: { trigger: 'none' },
          slices: {
            0: { color: '#66ff33' },
            1: { color: '#ffff66' },
						2: { color: '#ff3300' }
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('sannha'));
        chart.draw(data, options);
      }
    </script>
		<!--Biểu đồ-->
		<script type="text/javascript">
	      google.charts.load("current", {packages:["corechart"]});
	      google.charts.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Trận đấu', 'Percentage'],
	          ['Thắng', 75],
	          ['Hòa', 25],
						['Thua', 25]
	        ]);

	        var options = {
						pieHole: 0.4,
	          pieSliceText: 'none',
	          pieStartAngle: 135,
	          tooltip: { trigger: 'none' },
	          slices: {
	            0: { color: '#66ff33' },
	            1: { color: '#ffff66' },
							2: { color: '#ff3300' }
	          }
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('sankhach'));
	        chart.draw(data, options);
	      }
	    </script>


</head>

<body>

		<!---Thanh công cụ trên cùng--->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Các
								giải đấu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="anh.html">Premier League</a></li>
								<li><a href="taybannha.html">La Liga</a></li>
								<li><a href="italia.html">Series A</a></li>
								<li><a href="phap.html">Ligue I</a></li>
								<li><a href="duc.html">BundesLiga</a></li>
							</ul>
						</li>
						<li><a href="tintuc.html">Tin tức</a></li>
						<li><a href="video.html">Video</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
  <div>
		<div class="row">
      <div class="col-md-4">
        <img src="LogoCLB\Series A\AC Milan.png" style="display: block; margin-left: auto; margin-right: auto;" width="100px" height="auto">
      </div>
      <div class="col-md-4">
        <h2 style="text-align: center">A.C. Milan</h2>
        <p style="text-align: center">Sân vận động :<strong> San Siro Stadium </strong></p>
        <p style="text-align: center">Huấn luyện viên trưởng :<strong> Gennaro Gattuso </strong></p>
      </div>
      <div class="col-md-4">
        <img src="AoDau/Series A/AC Milan.png" style="display: block; margin-left: auto; margin-right: auto;" width="100px" height="auto">
      </div>
    </div>
    <!--/. header -->


    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified " role="tablist">
        <li role="presentation"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab">Các cầu thủ</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab">Kết quả và lịch thi đấu</a></li>
				<li role="presentation"><a href="#overview" aria-controls="overview" role="tab"
		            data-toggle="tab">Giới thiệu</a></li>
				<li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab"
				            data-toggle="tab">Thống kê</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">

					<div class="panel panel-default">
						<div class="panel-heading" style="background: #996633; color: white;">
							<p align="center"><strong>Thủ môn</strong></p>
						</div>
						<table class="table">
							<tbody>
								<tr>
										<th style="width: 25%">
												<p align="center">Số áo</p>
										</th>
										<th style="width: 50%">
												<p align="center">Tên</p>
										</th>
										<th style="width: 25%">
												<p align="center">Quốc tịch</p>
										</th>
								</tr>
									<%results[0].forEach(function(rows){%>
									<tr>
										<td><p align="center"><%=rows.soao%></p></td>
										<td><p align="center"><%=rows.ten%></p></td>
										<td><p align="center"><%=rows.quoctich%></p></td>
									</tr>
									<%})%>
							</tbody>
						</table>
					</div>
					<!-- Thủ môn -->
					<div class="panel panel-default">
						<div class="panel-heading" style="background: #3333ff; color: white;">
							<p align="center"><strong>Hậu vệ</strong></p>
						</div>
						<table class="table">
							<tbody>
								<tr>
										<th style="width: 25%">
												<p align="center">Số áo</p>
										</th>
										<th style="width: 50%">
												<p align="center">Tên</p>
										</th>
										<th style="width: 25%">
												<p align="center">Quốc tịch</p>
										</th>
								</tr>
									<%results[1].forEach(function(rows){%>
									<tr>
										<td><p align="center"><%=rows.soao%></p></td>
										<td><p align="center"><%=rows.ten%></p></td>
										<td><p align="center"><%=rows.quoctich%></p></td>
									</tr>
									<%})%>
							</tbody>
						</table>
					</div>
					<!-- Hậu vệ -->
					<div class="panel panel-default">
						<div class="panel-heading" style="background: #00cc00; color: white;">
							<p align="center"><strong>Tiền vệ</strong></p>
						</div>
						<table class="table">
							<tbody>
								<tr>
										<th style="width: 25%">
												<p align="center">Số áo</p>
										</th>
										<th style="width: 50%">
												<p align="center">Tên</p>
										</th>
										<th style="width: 25%">
												<p align="center">Quốc tịch</p>
										</th>
								</tr>
									<%results[2].forEach(function(rows){%>
									<tr>
										<td><p align="center"><%=rows.soao%></p></td>
										<td><p align="center"><%=rows.ten%></p></td>
										<td><p align="center"><%=rows.quoctich%></p></td>
									</tr>
									<%})%>
							</tbody>
						</table>
					</div>
					<!-- Tiền vệ -->
					<div class="panel panel-default">
						<div class="panel-heading" style="background: #cc0000; color: white;">
							<p align="center"><strong>Tiền đạo</strong></p>
						</div>
						<table class="table">
							<tbody>
									<tr>
											<th style="width: 25%">
													<p align="center">Số áo</p>
											</th>
											<th style="width: 50%">
													<p align="center">Tên</p>
											</th>
											<th style="width: 25%">
													<p align="center">Quốc tịch</p>
											</th>
									</tr>
								<%results[3].forEach(function(rows){%>
								<tr>
									<td><p align="center"><%=rows.soao%></p></td>
									<td><p align="center"><%=rows.ten%></p></td>
									<td><p align="center"><%=rows.quoctich%></p></td>
								</tr>
								<%})%>
							</tbody>
						</table>
					</div>
					<!-- Tiền đạo -->

        </div>

				<div role="tabpanel" class="tab-pane" id="profile">
          <table class="table table-striped">
            <tr>
              <th style="width: 25%"><p align="center">Vòng</p></th>
              <th style="width: 50%"><p align="center">Kết quả</p></th>
              <th style="width: 25%"><p align="center">Trạng thái</p></th>
            </tr>
						<%results[4].forEach(function(rows){%>
						<tr>
							<td><p align="center"><%=rows.vong%></p></td>
							<td>
								<p align="center">
									<div class="row">
									  <div class="col-md-4" align="center"><img src="<%=rows.logo_doibong%>" width="auto" height="20px">&nbsp&nbsp<%=rows.doibong%></div>
									  <div class="col-md-4" align="center">&nbsp&nbsp<%=rows.banthang%>&nbsp-&nbsp<%=rows.banbai%>&nbsp&nbsp</div>
									  <div class="col-md-4" align="center"><img src="<%=rows.logo_doithu%>" width="auto" height="20px">&nbsp&nbsp<%=rows.doithu%></div>
									</div>
								</p>
							</td>
							<td><p align="center">FT</p></td>
						</tr>
						<%})%>
          </table>
        </div>

				<div role="tabpanel" class="tab-pane" id="overview">
						<h2 align="center"> A.C Milan</h2>
						<p class="lead"><strong>Associazione Calcio Milan S.p.A</strong> hường được biết đến với tên gọi tắt A.C. Milan, AC Milan hay đơn giản là Milan, là một câu lạc bộ bóng đá của thành phố Milano, Ý được thành lập ngày 16 tháng 12 năm 1899. Tại mùa giải 2013-2014, đội bóng đang thi đấu tại Serie A, hạng đấu cao nhất của Giải vô địch bóng đá quốc gia Ý và có hệ số UEFA, chỉ số dựa trên thành tích trong 5 mùa giải cấp châu lục gần nhất của câu lạc bộ, đứng thứ 11 ở châu Âu.[3] Ở cấp độ quốc tế, Milan cùng Boca Juniors của Argentina hiện đang giữ kỷ lục về số danh hiệu quốc tế với 18 danh hiệu,[4] trong đó có 4 Cúp Liên lục địa/Cúp thế giới các câu lạc bộ, 5 Siêu cúp châu Âu, 7 Cúp C1/UEFA Champions League và 2 Cúp các đội đoạt cúp.[5]

Nếu như ở đấu trường châu Âu, Milan là câu lạc bộ Ý có nhiều danh hiệu nhất thì tại giải vô địch bóng đá quốc gia Ý, câu lạc bộ có thành tích xếp thứ hai, sau Juventus và ngang bằng với Inter Milan, với 18 danh hiệu vô địch quốc gia (Scudetto), 5 Cúp quốc gia và 5 Siêu cúp quốc gia. Trong lịch sử của mình, A.C. Milan đã từng hai lần phải xuống chơi tại Serie B trong các năm 1980 và 1982, trong đó lần đầu tiên là do án phạt của Liên đoàn bóng đá Ý vì Milan có dính líu tới vụ bê bối dàn xếp tỉ số Totonero. Vào đầu thập niên 2000 đội bóng còn dính líu tới một vụ bê bối bóng đá khác có tên Calciopoli. Đây cũng là câu lạc bộ đầu tiên từng có cầu thủ chiếm chọn cả ba vị trí đầu tiên của cuộc bình chọn Quả bóng vàng châu Âu, đó là vào hai năm 1988 khi bộ ba người Hà Lan của Milan là Marco van Basten, Ruud Gullit và Frank Rijkaard lần lượt xếp thứ nhất, nhì và ba trong cuộc bình chọn,[6] và 1989 với các cầu thủ Marco van Basten, Franco Baresi và Frank Rijkaard (vào năm 2010, F.C. Barcelona đã đạt được thành tích tương tự). Trong một cuộc thăm dò của tạp chí World Soccer thực hiện vào năm 2007, đội hình A.C. Milan với bộ ba "Hà Lan bay" Gullit-Rijkaard-Van Basten dưới thời huấn luyện viên Arrigo Sacchi được bầu chọn là đội hình cấp câu lạc bộ mạnh nhất trong lịch sử và tính chung chỉ thua đội hình các đội tuyển quốc gia Brasil năm 1970, Hà Lan năm 1974 và Hungary giai đoạn 1953-1954.</p>
						<p class="lead"> Thông tin chi tiết có thể xem tại trang chủ đội bóng: <a href="https://www.acmilan.com/it"> https://www.acmilan.com/it </a></p>
						<p class="lead"> Theo dõi các hoạt động của đội bóng tại:</p>
						<div class="row">
						  <div class="col-xs-6 col-sm-3" align="center"><a href="https://www.facebook.com/ACMilan"><img src="Icon/facebook.png" width="auto" height="50px"></a></div>
						  <div class="col-xs-6 col-sm-3" align="center"><a href="https://twitter.com/acmilan"><img src="Icon/twitter.png" width="auto" height="50px"></a></div>
						  <div class="col-xs-6 col-sm-3" align="center"><a href="https://www.instagram.com/acmilan"><img src="Icon/instagram.png" width="auto" height="50px"></a></div>
						  <div class="col-xs-6 col-sm-3" align="center"><a href="https://www.youtube.com/channel/UCKcx1uK38H4AOkmfv4ywlrg"><img src="Icon/youtube.png" width="auto" height="50px"></a></div>
						</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="statistics">
					<div class="row">
					  <div class="col-md-6" align="center">
							<h3 align="center">Tỷ lệ thắng sân nhà</h3>
							<div id="sannha"></div>
						</div>
					  <div class="col-md-6" align="center">
							<h3 align="center">Tỷ lệ thắng sân khách</h3>
							<div id="sankhach"></div>
						</div>
					</div>
					<p>&nbsp&nbsp</p>
					<div class="row">
						  <div class="col-xs-6 col-sm-3" align="center">
								<img src="Icon/goal.png" width="auto" height="100px">
								<h3 align="center">Bàn thắng: 10</h3>
							</div>
						  <div class="col-xs-6 col-sm-3" align="center">
								<img src="Icon/yellow.png" width="auto" height="100px">
								<h3 align="center">Thẻ vàng: 2</h3>
							</div>
						  <div class="col-xs-6 col-sm-3" align="center">
								<img src="Icon/red.png" width="auto" height="100px">
								<h3 align="center">Thẻ đỏ: 0</h3>
							</div>
						  <div class="col-xs-6 col-sm-3" align="center">
								<img src="Icon/goal.png" width="auto" height="100px">
								<h3 align="center">Bàn thua: 2</h3>
							</div>
					</div>
       	</div>
  </div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	</body>

</html>
